PORT=3000
MONGODB_URI=mongodb://127.0.0.1:27017/bicycle_store_lab2

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_gmail_app_password
SMTP_FROM=your_email@gmail.com
